<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login or Sign up page</title>
   
   <link rel="stylesheet" href="/css/loginreg.css">
  </head>
  <body>
    <div class="container">

 <form action="/user/login" method="post">
        <div class="loginblock">
          <h2>Login</h2>
          <input class="email" type="email" name="username" placeholder="Email" required />
          <input name="password"
            class="password"
            type="password"
            placeholder="Password"
            required
          />
          <button>Login</button>
        </div>
      </form>


     <form action="/user/reg" method="post">

      <div class="signup_block visible">
        <h2>Sign up</h2>
        <input type="text" class="name" placeholder="Enter your name" required  name="name"/>
        <input type="email" class="email" placeholder="Email" required  name="username"/>
        
     
        <select name="gender" id="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          
        </select>
        <input type="number" id="" name="age" placeholder="age">
        <input type="password" class="password" placeholder="Password"required name="password" />
        <button>Sign up</button>
      </div>
     </form>

      <form action="/user/login" method="post">
        <div class="loginblock">
          <h2>Login</h2>
          <input class="email" type="email" name="username" placeholder="Email" required />
          <input name="password"
            class="password"
            type="password"
            placeholder="Password"
            required
          />
          <button>Login</button>
        </div>
      </form>
    </div>

    <input type="checkbox" id="toggleCheckbox" style="display: none" />

    <label for="toggleCheckbox">Switch to Login</label>
    <script>
      const toggleCheckbox = document.getElementById("toggleCheckbox");
      const signupBlock = document.querySelector(".signup_block");
      const loginBlock = document.querySelector(".loginblock");
      const label = document.querySelector("label");
      toggleCheckbox.addEventListener("change", function () {
        if (this.checked) {
          label.innerHTML = "Switch to Sign up";
          signupBlock.classList.remove("visible"); // Hide the signup block
          loginBlock.classList.add("visible"); // Show the login block
        } else {
          label.innerHTML = "Switch to Sign in";
          signupBlock.classList.add("visible"); // Show the signup block
          loginBlock.classList.remove("visible"); // Hide the login block
        }
      });

     
    </script>
  </body>
</html>